* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: bisque;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif; }

#titulo {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  font-style: oblique; }

.columna {
  padding-bottom: 20px; }

.columna-1 {
  padding-top: 30px; }

.columna-2 {
  padding-top: 110px; }

/*# sourceMappingURL=1617diw_ev02.css.map */
